*{
    margin: 0;
    padding: 0;
    
}

@media (max-width: 600px)
{
    body{background-color: cadetblue;}
}

@media (min-width: 600px)
{
    body{background-color:red;}
}

@media (min-width: 768px)
{
    body{background-color: rgb(160, 95, 146);}
}

@media (min-width: 992px)
{
    body{background-color: rgb(160, 95, 95);}
}

@media (min-width: 1200px)
{
    body{background-color: rgb(160, 124, 95);}
}

.nav
{
    display: flex;
    flex-direction: row;
    height: 5wh;
    justify-content: space-around;
    align-items: stretch;
    box-shadow: 10px 10px 30px;
    flex-wrap: wrap;
    background-color: black;
}

.nav img{width: 120px;}

@media screen
{
 background-color: ;

}



